.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    text-align: center;
}

/* color theme */
.light {color: #ffd1db;}
.pink{color: #ffbfd9;}
.gray{color: #fbb9d3;}
.purple{color: #dba9cb;}
.dark{color: #bfa1b8;}
.white{color: #ffffd5;}

/*search bar width */
.navbar-form #navBarSearchInput
{
    width:400px;
}

main .header
{
    font-family: "monotype corsiva";
    font-size: 36pt;
    color: white;
}

main p
{
    font-family: "monotype corsiva";
    font-size: 24pt;
    color: #bfa1b8;
}


main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main img
{
    /* constrain images on small screens */
    max-width: 40%;
}

main td{
    font-size: 18pt;
    padding-right:10px;
    color: gray;
    font-family: "monotype corsiva";
    vertical-align: top;
    margin: auto;
}

main div
{
    text-align: center;
}

.error {
    font-size: 15pt;
    color: #E75480;
    font-family: "monotype corsiva";
}

body{
  background: radial-gradient(circle, #ffd1db, #fbb9d3);
  text-align: center;
}

/*Add friend form*/
td #name{
    width: 300px;
    resize: none;
}

.subhead{
    width:300px;
}

main table #friendlist {
    border-style: hidden;
    text-align: center;
}

#friendlist tr:hover{
    background-color: #ffe1eb;
    cursor: pointer;
}

#friendlist .fName {
    font-family: "monotype corsiva";
    font-size: 24pt;
    color: #bfa1b8;
    text-decoration: none;
}

td #message {
    white-space: pre-wrap;
}