{% extends "layout.html" %}

{% block title %}
    Friends
{% endblock %}

{% block head %}
<script language="JavaScript">
    $(document).ready(function(){
        $('.fName').click(function(){
            //window.location.href = Flask.url_for("search") + '/' + this.innerHTML;
            console.log("clicked");
        });
    });
</script>
{% endblock %}

{% block main %}
    <table align="center" id="friendlist">
        <tbody>
            {% for friend in friends %}
                <tr><td><a href="{{ url_for('search', id=friend.id) }}" class="fName">{{friend.name}}</a></td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
