{% extends "layout.html" %}

{% block title %}
    {{item}}
{% endblock %}

{% block head %}
<script language="JavaScript">
    $(document).ready(function(){
        $('#delete_friend').click(function(){
            $('#message').html("Deleting {{item}}...");
            document.location.href = "/deleteFriend/{{id}}";
        });

        //set cursor at the end of each text area when tabbed in
        $('textarea').on('keyup', function(event){
            if (event.which == 9) {
                var text = $(this).val();
                $(this).focus().val("").val(text);
            }
        });

        //bullet point after enter key pressed: http://output.jsbin.com/uPALIRU/1/
        $('textarea').on('keydown',function(event){
            var text = $(this); //this text area
            switch(event.which){ //event.which returns which key was pressed
                case 13: //13 is enter key
                    text.val(text.val()+'\n• ');
                    return false;
            }
        });

        //add first bullet to empty fields
        $('textarea').click(function(){
           if($(this).val() == ""){
               $(this).val("• ");
           }
        });
    });

</script>
{% endblock %}

{% block main %}
    <div class="header">{{item}}</div><br>

    <!-- Friend Info: Name, Interest -->
    <form action="{{ url_for('search') }}" name="profile" method="post">
        <fieldset>
            <table align="center">
                <tr>
                    <td align="right">Interest</td>
                    <td align="left"><div class="form-group">
                        <textarea class="form-control" name="interest" rows="3" id="interest2">{{interest}}</textarea>
                    </div></td>
                </tr>
                <tr>
                    <td colspan="2"><div class="form-group gray">
                        <button class="btn btn-default" type="submit" onclick="formSubmitter('message')">Update</button>
                        <button class="btn btn-default" type="button" id="delete_friend">Delete</button>
                        <br><span class="error">{{message}}</span>
                        <p id='message' class='error'></p>
                    </div></td>
                </tr>
            </table>
        </fieldset>
    </form>
{% endblock %}
