{% extends "layout.html" %}

{% block title %}
    {{item}}
{% endblock %}

{% block head %}
<script language="JavaScript">
    $(document).ready(function(){

        //cursor to the end when tabbed into text area
        $('textarea').on('keyup', function(event){
            if (event.which == 9) {
                //add first bullet if necessary
                if($.trim($(this).val()) == "") {
                    $(this).focus().val("• ");
                }
                else {
                    var text = $(this).val();
                    $(this).focus().val("").val(text);
                }
            }
        });

        //bullet point after enter key pressed: http://output.jsbin.com/uPALIRU/1/
        $('textarea').on('keydown', function(event){
            var text = $(this); //this text area
            switch(event.which){ //event.which returns which key was pressed
                case 13: //13 is enter key
                    text.val(text.val()+'\n• ');
                    return false;
            }
        });

        //add first bullet to empty fields
        $('textarea').click(function(){
           if($(this).val() == ""){
               $(this).val("• ");
           }
        });

        //Assure user delete button is clicked
        $('#delete_friend').click(function(){
            $('#message').html("Deleting {{item}}...");
        });

        //assure user Update button is clicked
        $('#update').click(function(){
            $('message').html("Updating {{name}}'s profile...");
        });

        $('textarea').css({'border':'none'});
        $('textarea').css({'resize': 'none'});
        $('textarea').css({'background-color':'#fcdeea'});
    });
</script>
{% endblock %}

{% block main %}
    <div class="header">{{item}}</div><br>

    <!-- Display Friend Info -->
    <form action="{{ url_for('edit', id=id) }}" name="profile" method="post">
        <fieldset>
            <table align="center">
                <tr>
                    <td align="right">Interests</td>
                    <td align="left"><div class="form-group"><textarea class="form-control subhead completed" rows="3" name="interest" id="completed">{{interest}}</textarea></div></td>
                </tr>
                <tr>
                    <td align="right">Dislikes</td>
                    <td align="left"><div class="form-group"><textarea class="form-control subhead completed" rows="3" name="dislike" id="completed">{{dislike}}</textarea></div></td>
                </tr>
                <tr>
                    <td align="right">Life Plans</td>
                    <td align="left"><div class="form-group"><textarea class="form-control subhead completed" rows="3" name="plan" id="completed">{{plan}}</textarea></div></td>
                </tr>
                <tr>
                    <td align="right">Stories</td>
                    <td align="left"><div class="form-group"><textarea class="form-control subhead completed" rows="3" name="story" id="completed">{{story}}</textarea></div></td>
                </tr>
                <tr>
                    <td align="right">Potential To-Do's</td>
                    <td align="left"><div class="form-group"><textarea class="form-control subhead completed" rows="3" name="todo" id="completed">{{todo}}</textarea></div></td>
                </tr>
                <tr>
                    <td align="right">Shared Events</td>
                    <td align="left"><div class="form-group"><textarea class="form-control subhead completed" rows="3" name="event" id="completed">{{event}}</textarea></div></td>
                </tr>
                <tr>
                    <td align="right">Work / School</td>
                    <td align="left"><div class="form-group"><textarea class="form-control subhead completed" rows="3" name="work" id="completed">{{work}}</textarea></textarea></div></td>
                </tr>
                <tr>
                    <td align="right">Inspiring Quotes</td>
                    <td align="left"><div class="form-group"><textarea class="form-control subhead completed" rows="3" name="quote" id="completed">{{quote}}</textarea></div></td>
                </tr>
                <tr>
                    <td align="right">General Notes</td>
                    <td align="left"><div class="form-group"><textarea class="form-control subhead completed" rows="3" name="note" id="completed">{{note}}</textarea></div></td>
                </tr>
                <tr>
                    <td colspan="2"><div class="form-group gray">
                        <button class="btn btn-default" type="submit" id="update">Update</button>
                        <a href="{{ url_for('delete', id=id) }}"><button class="btn btn-default" type="button" id="delete_friend">Delete</button></a>
                        <br><span class="error">{{message}}</span>
                        <p id='message' class='error'></p>
                    </div></td>
                </tr>
            </table>
        </fieldset>
    </form>

    <div>Tip: Add the '#' symbol to create tags (e.g. Mark loves #dogs and #cars).<br>
    You can easily track down any taggedd notes in the future by entering the tag into the search bar.<br>
    You may also browse all existing hashtags by clicking into the 'Hashtags' tab at the top of the page. <br><br></div>
{% endblock %}
