{% extends "layout.html" %}

{% block title %}
    Hashtags
{% endblock %}

{% block main %}
    <table align="center" id="hashtag">
        <tbody>
            <tr>
                <td class="subhead">Interests</td>
                <td class="content"><ul>
                    {% for interest in interests %}
                    <li><a href="{{ url_for('search', id=interest.id)}}"><b class="white">{{interest.name}}:</b></a> {{interest.content}}</li>
                    {% endfor %}
                </ul></td>
            </tr>
            <tr>
                <td class="subhead">Dislikes</td>
                <td class="content"><ul>
                    {% for dislike in dislikes %}
                    <li><a href="{{ url_for('search', id=dislike.id)}}"><b class="white">{{dislike.name}}:</b></a> {{dislike.content}}</li>
                    {% endfor %}
                </ul></td>
            </tr>
            <tr>
                <td class="subhead">Life Plans</td>
                <td class="content"><ul>
                    {% for plan in plans %}
                    <li><a href="{{ url_for('search', id=plan.id)}}"><b class="white">{{plan.name}}:</b></a> {{plan.content}}</li>
                    {% endfor %}
                </ul></td>
            </tr>
            <tr>
                <td class="subhead">Stories</td>
                <td class="content"><ul>
                    {% for story in stories %}
                    <li><a href="{{ url_for('search', id=story.id)}}"><b class="white">{{story.name}}:</b></a> {{story.content}}</li>
                    {% endfor %}
                </ul></td>
            </tr>
            <tr>
                <td class="subhead">Potential To-Do's</td>
                <td class="content"><ul>
                    {% for todo in todos %}
                    <li><a href="{{ url_for('search', id=todo.id)}}"><b class="white">{{todo.name}}:</b></a> {{todo.content}}</li>
                    {% endfor %}
                </ul></td>
            </tr>
            <tr>
                <td class="subhead">Inspiring Quotes</td>
                <td class="content"><ul>
                    {% for quote in quotes %}
                    <li><a href="{{ url_for('search', id=quote.id)}}"><b class="white">{{quote.name}}:</b></a> {{quote.content}}</li>
                    {% endfor %}
                </ul></td>
            </tr>
            <tr>
                <td class="subhead">Shared Events</td>
                <td class="content"><ul>
                    {% for event in events %}
                    <li><a href="{{ url_for('search', id=event.id)}}"><b class="white">{{event.name}}:</b></a> {{event.content}}</li>
                    {% endfor %}
                </ul></td>
            </tr>
            <tr>
                <td class="subhead">Work / School</td>
                <td class="content"><ul>
                    {% for w in work %}
                    <li><a href="{{ url_for('search', id=w.id)}}"><b class="white">{{w.name}}:</b></a> {{w.content}}</li>
                    {% endfor %}
                </ul></td>
            </tr>
            <tr>
                <td class="subhead">General Notes</td>
                <td class="content"><ul>
                    {% for note in general %}
                    <li></b><a href="{{ url_for('search', id=note.id)}}"><b class="white">{{note.name}}:</b></a> {{note.content}}</li>
                    {% endfor %}
                </ul></td>
            </tr>
        </tbody>
    </table>
{% endblock %}